* {
  margin: 0;
  padding: 0;
}

body {
  background: aquamarine;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-container {
  position: relative;
  display: flex;
  height: 25px;
  width: 30px;
  margin-top: 60px;
  margin-left: 60px;

  .toggle {
    display: none;
  }

  .burger-icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    //background-color: green;
    cursor: pointer;

    span {
      width: 30px;
      height: 5px;
      background-color: black;
      border-radius: 5px;
      transition: all 0.3s;
    }
  }

  .menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translate(100%);
    transition: all 0.3s;
    background-color: black;
  }

  ul {
    list-style: none;

    li {
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.toggle:checked + .burger-icon + .menu {
  transform: translate(0%);
}

.toggle:checked + .burger-icon span:nth-child(2) {
  transform: rotate(-45deg);
  transform-origin: left bottom;
  position: relative;
}

.toggle:checked + .burger-icon span:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: left top;
  position: relative;
}


.toggle:checked + .burger-icon span:nth-child(3) {
  opacity: 0;
}