* {
  margin: 0;
  padding: 0;
}

body {
  background: aquamarine;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.menu-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 30px;
  margin-top: 60px;
  margin-left: 60px;
}
.menu-container .toggle {
  display: none;
}
.menu-container .burger-icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}
.menu-container .burger-icon span {
  width: 30px;
  height: 5px;
  background-color: black;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-container .menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: black;
}
.menu-container ul {
  list-style: none;
}
.menu-container ul li a {
  text-decoration: none;
  color: white;
}

.toggle:checked + .burger-icon + .menu {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.toggle:checked + .burger-icon span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  position: relative;
}

.toggle:checked + .burger-icon span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  position: relative;
}

.toggle:checked + .burger-icon span:nth-child(3) {
  opacity: 0;
}